main {
    min-width: 300px;
}

main>header {
    background-color: #fbfbfb;
    display: grid;
    grid-template-columns: 3fr 1fr;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}

main>header h1 {
    background: url('/images/olive.png') 20px center no-repeat;
    background-size: 30px;
    display: inline-block;
    font-size: 18px;
    margin: 0;
    padding: 20px;
    padding-left: 60px;
}

main>header h1 a {
    color: olive;
    text-decoration: none;
}

main>header h1 a span {
    color: #888888;
    font-size: 12px;
    font-weight: normal;
    margin-left: 8px;
}

@media screen and (min-width: 375px) {
    main>header h1 {
        background-size: 35px;
        font-size: 20px;
        padding-left: 65px;
    }
    main>header h1 a span {
        font-size: 14px;
    }
}

@media screen and (min-width: 1280px) {
    main>header h1 {
        background-position-x: 40px;
        font-size: 22px;
        padding: 20px 40px;
        padding-left: 85px;
    }
    main>header h1 a span {
        font-size: 16px;
    }
}

main>header .user {
    padding: 0 20px;
    text-align: right;
}

main>header .user .wrapper {
    display: inline-block;
}

main>header .user .wrapper .picture {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50px;
    display: inline-block;
    margin-top: 14px;
    height: 35px;
    width: 35px;
}

main>header .user .wrapper .name {
    display: none;
}

@media screen and (min-width: 375px) {
    main>header .user .wrapper .picture {
        margin-top: 13px;
        height: 40px;
        width: 40px;
    }
}

@media screen and (min-width: 1280px) {
    main>header .user {
        padding: 0 40px;
    }
    main>header .user .wrapper {
        cursor: pointer;
        display: inline-block;
        padding: 0 10px;
    }
    main>header .user .wrapper .picture {
        transition: all .1s;
    }
    main>header .user .wrapper .name {
        color: #303030;
        display: inline-block;
        font-size: 14px;
        margin: 25px 0 25px 10px;
        vertical-align: top;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 165px;
        transition: all .1s;
    }
    main>header .user .wrapper:hover .picture {
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    }
    main>header .user .wrapper:hover .name {
        color: olive;
    }
}

main.unauthorized>header {
    display: block;
    text-align: center;
}

main>section.content {
    max-width: 1520px;
    margin: auto;
    padding: 20px;
}

@media screen and (min-width: 1280px) {
    main>section.content {
        padding: 20px 40px;
    }
}

main>section.content h2 {
    font-size: 16px;
    margin: 0;
}

@media screen and (min-width: 375px) {
    main>section.content h2 {
        font-size: 18px;
    }
}

@media screen and (min-width: 1280px) {
    main>section.content h2 {
        font-size: 20px;
    }
}